# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Databases (SQLite and others)
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
